body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    margin: 0;
    background-color: #ffffff;
   }
p, h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0;
}
ul, li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a{ 
    text-decoration: none;
}


/* header */
.header{
    width: 320px;
    margin: 0 auto;
    border-bottom: 1px solid  #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 16px;
}

.header-navi{
    display: flex;
    align-items: center;
}


/* header logo */

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    align-items: center;
    text-transform: uppercase;
    color: #4d5ae5;
}

.studio{
    color: #2e2f42;
}

.button-menu{
    background-color: #ffffff;
    width: 24px;
    height: 24px;
    border: none;
    margin-left: auto;
    padding-top: 4px;
}

.header-list{
    display: none;
    gap: 40px;
}

.navi-style{
    padding: 24px 0;
}

.text-navi{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    padding: 24px 0;
    color: #2E2F42;
}

.text-navi-studio{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-navi:hover,
.text-navi:focus{
    color: #404bbf;
}

.navi-style{
    position: relative;
    color: #404BBF;
}

.text-navi-studio::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
}

.address-navi{
    display: none;
    font-style: normal;
}

.contacts{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover,
.contacts:focus{
    color:#404bbf;
}


/* header modal menu */
.header-modal-menu {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    width: 320px;
    height: 100vh;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
}

.header-modal-menu.is-open{
    opacity: 1;
    pointer-events: auto;
}

.mob-button-cencel{
    display: block;
    margin-left: auto;
    width: 24px;
    height: 24px;
    margin-bottom: 24px;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-cencel-svg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-button-cencel:focus,
.mob-button-cencel:hover{
    background-color: #404bbf;
    fill :#ffffff;
    border: 0;
}

.mob-navi-style:not(:last-child) {
    margin-bottom: 40px;
}

.mob-text-navi-studio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.mob-text-navi {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mob-adress-tel {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: #4d5ae5;
    margin-bottom: 24px;
}

.mob-adress-mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 48px;
}

.mob-all-icons{
    display: flex;
    direction: row;
    gap: 40px;
}


/* table header */
@media (min-width: 768px) and (max-width: 1158px){

.header{
    width: 768px;
}

.button-menu{
    display: none;
}

.container-header{
    padding: 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    padding-left: 16px;
    
}

.header-list{
    display: flex;
    margin-left: 104px;
}

.address-navi{
    display: flex;
    flex-direction: column;
    padding-right: 16px;
}

.adress-mail{
    margin-bottom: 12px;
}

.header-modal-menu{
    display: none;
}
}


/* desctop header */
@media (min-width: 1158px){

.header{
    min-width: 1158px;
}

.container-header{
    padding: 0;
    justify-content: space-between;
}
    
.button-menu{
    display: none;
}
    
.header-list{
    display: flex;
    margin-left: 76px;
}

.address-navi{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.address{
    display: flex;
    align-items: center;
}

.header-modal-menu{
    display: none;
}
}



/* section 1 hero */
.section-hero{
    min-width: 320px;
    height: 432px;
    background-color: #2e2f42;
    margin: 0 auto;
    text-align: center;
}

.section-hero{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob.jpg);
}

@media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
.section-hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob-2x.jpg);
}
}

.container-hero{
    width: 320px;
    padding: 0 15px;
    margin: 0 auto;
}

.hero{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin: 0 auto;
    color: #FFFFFF;
    padding: 0 52px;
    padding-top: 72px;
    margin-bottom: 72px;
}

.button-hero{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    max-width: 496px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    display: block;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.button-hero:hover,
.button-hero:focus{
    background-color:  #404BBF;
}

/* table section 1 */
@media (min-width: 768px) and (max-width: 1158px){

.section-hero{
    min-width: 768px;
    height: 436px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab.jpg);
}

@media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
.section-hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab-2x.jpg);
}
}

.container-hero{
    width: 100%;
    padding: 112px 0;
    margin: 0 auto;
}

.hero{
    width: 100%;
    font-size: 56px;
    line-height: 1.07;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 36px;
}
}


/* desctop section 1 */

@media (min-width: 1158px){
.section-hero{
    min-width: 1158px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
}

@media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
.section-hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
}
}
.container-hero{
    width: 100%;
    padding: 188px 0;
}

.hero{
    font-size: 56px;
    min-width: 600px;
    height: 100%;
    padding: 0;
    margin-bottom: 48px;
}
}



    /* section 2 */
.section-display{
    width: 320px;
    margin: 0 auto;
    padding: 96px 16px;
}

.list-all{
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    gap: 72px;
    
}

.list-icons-display{
    display: none;
}   

.team-img{
    display: block;
}
.container-title-text{
    padding: 32px 0;
}

.title-text{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
    color: #2E2F42;

    
    }

.text-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
    }
 
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
 

/* Tablet section 2*/
@media (min-width: 768px) and (max-width: 1158px){

.section-display{
    width: 768px;
    margin: 0 auto;
}

.list-all{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 72px 24px;
}

.title-text{
    text-align: left;
}

.display-list{
    width: calc((100% - 56px) / 2);
}
}


/* Desctop section 2*/

@media (min-width: 1158px){

.section-display{
    width: 1158px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 0;
}

.container-display{
    padding: 0 15px;
    margin: 0 auto;
}

.list-icons-display{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
} 

.list-all{
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    gap: 24px;
}

.display-list{
    width: calc((100% - 24px * 3) / 4);
    }

/* Заголовок */
.title-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2; 
    text-align: left;
}

.text-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
    }

}



     /* section 3 */
.team{
    min-width: 320px;
    background-color:  #F4F4FD;
}

.container-team{
    width: 320px;
    padding: 96px 28px;
    margin: 0 auto;
}

.img-text-flex{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

.team-all{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-backgr{
    width: 264px;
    margin-top: 72px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
    background-color: #FFFFFF;
}

.container-team-card{
    padding: 32px 0;
}

.title-text-team{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
    color: #2E2F42;
    }

.text-title-team{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 8px;
    text-align: center;
    color: #434455;
    }

.all-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:24px;
}

.container-title{
     padding: 32px 0;
}

.icons-link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.icons-link:focus,
.icons-link:hover {
    background-color: #404bbf;
}

.team-icon{
    fill: #f4f4fd;
}

.team-icon-link{
    width: 40px;
    height: 40px;
}


/* table section 3*/
@media (min-width: 768px) and (max-width: 1158px){

.team{
    min-width: 768px;
}

.container-team{
    width: 768px;
    margin: 0 auto;
    padding: 96px 0;
}

.img-text-flex{
    display: flex;
    flex-direction: row;
    padding: 0 108px;
    gap: 24px;
        
}

.team-backgr{
    margin-top: 64px;
}
}

/* desctop section 3 */

@media (min-width: 1158px){

.team{
    min-width: 1158px;
}

.container-team{
    width: 1158px;
    margin: 0 auto;
    padding: 120px 0;
}
.img-text-flex{
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 24px;
    justify-content: center;
}
}




/* section 4 */
.section-portfilio{
    width: 320px;
    margin: 0 auto;
    padding: 96px 16px;
}    

.portfilio {
    min-width: 218px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    margin: 0 auto;
    margin-bottom: 72px;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}

.img-portfilio-flex{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 72px;
}

.portfilio-list{
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-portfilio-img{
    position: relative;
    overflow: hidden;
    width: 100%;

}
.portfilio-img{
    display: block;
    margin: 0 auto;
}

.portfilio-list:hover .portfilio-overflow{
    transform: translateY(0%);
    }

.portfilio-list:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.container-cart{
    width: 100%;

    height: 120px;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin: 0 auto;
 }
 
.portfiloio-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2E2F42;
    text-align: left;
}
.portfilio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left; 
}

.portfilio-overflow{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    height: 100%;
    background-color: #4D5AE5;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

/* table section 4 */
@media (min-width: 768px) and (max-width: 1158px){

.section-portfilio{
    width: 768px;
    margin: 0 auto;
}

.img-portfilio-flex{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    margin: 0 auto;

}

.portfilio-list{
    width: calc((100% - 24px) / 2);
}
}


/* desctop section 4*/
@media (min-width: 1158px){

.section-portfilio{
    width: 1158px;
    margin: 0 auto;
    padding: 120px 15px;
} 

.img-portfilio-flex{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    margin: 0 auto;
}

.portfilio-list{
    width: calc((100% - 48px) / 3);
}

.portfiloio-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2; 
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        color: #2E2F42;
        margin-left: 16px;
        text-align: left;
    }

.portfilio-text{
    margin-left: 16px;
    margin-top: 8px;
}
}


/* section footer */
.footer{
    min-width: 320px;
    background-color: #2e2f42;
    
}

.container-footer{
    display: flex;
    padding: 96px 16px;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
}

.container-logo{
    margin-bottom: 72px;
}

.logo-footer{
    font-family: "Raleway" sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 92px;
    margin-bottom: 16px;
    color:#4d5ae5;
}

.footer .studio{
    color:  #f4f4fd;
}

.footer-text{
    max-width: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.container-footer-icons{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 72px;
 }

.footer-title-media{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #ffffff;
}

.all-icons-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:16px;
}

.footer-icons-link{
    width: 40px;
    height: 40px;
}

.icons-link-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    fill: #f4f4fd; 
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link-footer:hover,
.icons-link-footer:focus {
    background-color: #31d0aa;
}

/* footer subscribe */

.footer-subscribe{
    width: 288px;
    justify-content: center;
    text-align: center;
}

.subscribe-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #ffffff;
}

.form-subscribe{
    display: flex;
    flex-direction: column;
}

.form-subscribe-label{
    margin-bottom: 16px;
}

.placeholder-e-mail{
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color:#ffffff;
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding-left: 16px;
}

.button-subscribe{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;

    width: 165px;
    margin: 0 auto;
    height: 40px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-subscribe-svg{
    fill: #ffffff;
    margin-left: 16px;
}

/* table footer */

@media (min-width: 768px) and (max-width: 1158px){
.footer{
    min-width: 768px;
}

.container-footer{
    width: 768px;
    padding-top: 96px;
    padding-left: 108px;
    padding-right: 164px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.container-logo{
    width: 264px;
    min-height: 112px;
    margin-right: 24px;
}

.logo-footer{
    margin: 0;
    text-align: left;
    margin-bottom: 16px;
}

.container-footer-icons{
    width: 208px;
    height: 80px;
    text-align: left;
}

.container-one-two{
    display: flex;
    flex-direction: row;
}

.footer-subscribe{
    width: 453px;
    min-height: 80px;
    text-align: left;
}

.form-subscribe{
    flex-direction: row;
}

.form-subscribe-label{
    margin-right: 24px;
}
}

/* desctop footer */

@media (min-width: 1158px){

.container-footer{
    width: 1158px;
    flex-direction: row;
    padding: 100px 0;
    justify-content: center;
    margin: 0 auto;
}

.container-footer-icons{
    margin: 0;
    margin-right: 80px;
}

.container-logo{
    margin: 0;
    margin-right: 120px;
}

.logo-footer{
    margin: 0;
    margin-bottom: 16px;
}

.container-footer-icons{
    text-align: left;
}

.footer-subscribe{
    width: 453px;
    text-align: left;
}

.form-subscribe{
    flex-direction: row;
}

.form-subscribe-label{
    margin-right: 24px;
}
}


/* modal container */

.container-modal{
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
}

.container-modal.is-open{
    opacity: 1;
    pointer-events: auto;
}

.modal-windows{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px 16px;
}

.button-cencel{
    display: flex;
    width: 24px;
    height: 24px;
    margin-left: 222px;
    margin-bottom: 24px;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-cencel-svg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-cencel:focus,
.button-cencel:hover{
    background-color: #404bbf;
    fill :#ffffff;
    border: 0;
}

.title-modal-windows{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
    color: #2e2f42;
}

.container-label{
    margin-bottom: 8px;
}

.form-label{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.icon-user{
    position: relative;
}

.user-text{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-text:focus{
    border-color: #4D5AE5;
}

.user-svg{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-text:focus + .user-svg{
    fill: #4d5ae5;
}

.container-user-comment{
    margin-bottom: 16px;
}

.user-text-comment{
    width: 100%;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize:none;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    outline: transparent;
}

.user-text-comment:focus{
    border-color: #4D5AE5;
}

.conrainer-checkbox{
    display: flex;
    margin-bottom: 24px;
}

.user-privacy{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.user-privacy-span{
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-bottom: 16px;
    margin-right: 4px;
    /* margin-right: 8px; */
   
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.visually-hidden:checked + .user-privacy .user-privacy-span{
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.visually-hidden-link{
    line-height: 16px; 
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    margin-left: 24px;
}

.button-submit{
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background: #4d5ae5;
    border: none;
    margin: 0 auto;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


  @media (min-width: 768px) 
  /* and (max-width: 1158px) */
  {

.modal-windows{
    width: 408px;
    min-height: 584px;
    padding: 24px;
}

.button-cencel{
    margin-left: 338px;
}

.conrainer-checkbox{
    
}

.user-privacy-span{
    padding: 0;
    margin-right: 8px;
}

.visually-hidden-link{
    margin-left: 0;
}
}

